@{
    ViewData["Title"] = "Register URLs";
}

<div class="text-center">
    <h1 class="display-6">Register Urls</h1>
    
    <div class="card card-body mb-5">
        <button id="register" class="btn btn-primary">Register URl</button>
    </div>
    <div id="feedback" class="card card-body">

    </div>
</div>
